.topPanel {
  position: fixed;
  width: 100%;
  background: rgba(21, 24, 28, 0.94);
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  transition: 0.3s;
}

.flex-c {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topButton {
  position: absolute;
  left: 30px;
  top: 15px;
  z-index: 2;
  transition: 0.5s;
}
.topPanel-logo {
  display: block;
}

.topPanel-logo img {
  height: 51px;
}
.topPanel .menu {
  margin-left: 50px;
}
.topPanel .menu li {
  position: relative;
  height: 100px;
  line-height: 100px;
  transition: 0.3s;
}
.topPanel .menu li a {
  display: block;
  padding: 0px 50px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.topPanel .menu li:after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 50px);
  top: 0;
  left: -25px;
  background-color: rgba(2, 2, 2, 0);
  transition: 0.3s;
}
.topPanel .menu li:hover:after {
  background-color: rgba(2, 2, 2, 0.85);
}
.topPanel .menu .dropDown-menu {
  position: absolute;
  top: 100%;
  width: calc(100% + 50px);
  left: -25px;
  background: linear-gradient(
    to bottom,
    rgba(2, 2, 2, 0.8) 40%,
    rgba(2, 2, 2, 0)
  );
  padding: 30px 0px 100px 0px;
}
.topPanel .menu .dropDown-menu li {
  height: auto;
  line-height: 1;
  padding: 0px 15px;
  text-align: center;
}
.topPanel .menu .dropDown-menu li a {
  padding: 15px 0px;
}
.topPanel .downloadButton {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  background: #551172;
  height: 100px;
  line-height: 100px;
  padding: 0px 100px;
  margin-left: 32px;
}
.topPanel .loginButton {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background: #303130;
  padding: 15px 48px;
  border-radius: 30px;
}
.topPanel-top .downloadButton {
  height: 60px;
  line-height: 60px;
}
.topPanel-top .menu li {
  height: 60px;
  line-height: 60px;
}

.topPanel-logo {
  margin-left: 40px;
}

.topPanel-button {
  position: absolute;
  right: 0;
}
.bright:hover {
  filter: brightness(120%);
}

.modal_div {
  max-width: 430px;
  width: 100%;
  min-height: 500px;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -215px;
  margin-top: -50px;
  opacity: 0.9;
  z-index: 999;
  padding: 45px 60px 45px 60px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
}
.modal_div h1 {
  font-size: 24px;
  padding: 0px 20px 30px 20px;
  margin: 0px -20px 40px -20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  text-align: left;
}
.modal_div form {
  margin-bottom: 35px;
}
.modal_div form p {
  margin-bottom: 14px;
}

.modal_div .modal_close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 35px;
  cursor: pointer;
}
.modal_div .modal_close span {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
}
.modal_div .modal_close span:nth-child(1) {
  transform: rotate(45deg);
  top: 3px;
}
.modal_div .modal_close span:nth-child(2) {
  transform: rotate(-45deg);
}

.or {
  padding: 25px 0px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.t-center {
  text-align: center;
}

.form-width input {
  width: 100%;
}
.form-width button,
.form-width .button {
  width: 100%;
}
.form-width .button {
  width: 100%;
}

.formlinks {
  color: #f6f9ff;
}
.formlinks a {
  color: #f6f9ff;
  font-size: 14px;
}
.formlinks p {
  margin-bottom: 14px;
}
.formlinks .reg {
  color: #77acff;
}
